# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Scorpion
__pycache__/
output.sas
sas_plan
sas_plan.*
builds/
misc/.tox/
misc/autodoc/downward-xmlrpc.secret

# CUDD
src/dd_libs/cudd-3.0.0/autom4te.cache/
src/dd_libs/cudd-3.0.0/Makefile.in
src/dd_libs/cudd-3.0.0/aclocal.m4
src/dd_libs/cudd-3.0.0/configure
src/dd_libs/cudd-3.0.0/config.h.in
src/dd_libs/cudd-3.0.0/config.h.in~
